@model UNACapital.ViewModels.IndexVM

@{
    ViewBag.Title = "Index";
}
<div>
    <h2>Tabela CBLC</h2>

    <table class="table">
        <thead>
            <tr>
                <td>Data</td>
                <td>Número</td>
                <td>Quantidade de Ações</td>
                <td>Valor R$</td>
                <td>Doador</td>
                <td>Tomador</td>
                <td>Cotação Média</td>
                <td>Taxa média 3 dias</td>
                <td>Posição em Aberto</td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>@Model.CBLC.Date.ToString("dd/MM/yyyy")</td>
                <td>@Model.CBLC.NumberContracts</td>
                <td>@Model.CBLC.AmountActions</td>
                <td>@Model.CBLC.Value.ToString("0,00")</td>
                <td>@Model.CBLC.Donator</td>
                <td>@Model.CBLC.Taker</td>
                <td>@Model.CBLC.Cotation</td>
                <td>@Model.CBLC.ThreeDays</td>
                <td>@Model.CBLC.OpenPosition</td>
            </tr>
        </tbody>
    </table>
</div>

<br />
<br />

<h2>Nome: @Model.CBLC.Name</h2>
<h3 id="lblAction">Código da Ação: @Model.Action</h3>
<br />

<div class="col-lg-12" style="padding: 0;">
    <div class="col-lg-3" style="padding: 0;">
        <label>Ação</label>
        <input type="text" id="txtAction" style="width: 100%;" placeholder="Ex: DTEX3, ITUB4, PETR3..." />
    </div>
    <div class="col-lg-3" style="padding: 0;">  
        <label>Data Inicial</label>
        <input type="text" id="txtStartDate" style="width: 100%;" placeholder="dd/MM/yyyy" />
    </div>
    <div class="col-lg-3" style="padding: 0;">
        <label>Data Final</label>
        <input type="text" id="txtEndDate" style="width: 100%;" placeholder="dd/MM/yyyy"/>
    </div>
    <div class="col-lg-3" style="padding: 0;">
        <label>Tipo</label>
        <select  class="form-control" style="100%" id="selType">
            <option selected="selected">Diário</option>
            <option>Semanal</option>
        </select>
    </div>
</div>

<br />
<br />

<div class="col-lg-12" style="padding: 0;">
    <input type="button" onclick="search();" value="Pesquisar" class="btn" />
</div>

<br />
<br />

<div style="height: 500px;" id="chartContainer"></div>

<div id="container"></div>

<script type="text/javascript">

    function search(){
        var action = $("#txtAction").val();
        var startDateTxt = $("#txtStartDate").val();
        var endDateTxt = $("#txtEndDate").val();
        var type = $("#selType").val();

        var date1 = new Date(startDateTxt);
        var startMilliseconds = date1.getTime(); 

        var date2 = new Date(endDateTxt);
        var endMilliseconds = date2.getTime(); 

        if(startMilliseconds >= endMilliseconds) {
            alert("Data inicial precisa ser menor que data final");
        } else{
            window.location.replace("/home/index?currAction=" + action + "&startDate=" + startMilliseconds + "&endDate=" + endMilliseconds + "&type=" + type);
        }        
    }

    $(function () {
        var chart = new CanvasJS.Chart("chartContainer", {
            theme: "theme2",
            zoomEnabled: true,
            animationEnabled: true,
            title: {
                text: "@Model.Action"
            },
            axisY: {
                suffix: "%"
            },
            toolTip: {
                shared: true,
                content: "<span><strong>{name}</strong></span> : <span>{x}</span> - <span>{y}%</span>"
            },
            data: [
            {
                type: "line",
                name: "CDI",
                showInLegend: true,
                dataPoints: [
                    @foreach (UNACapital.Models.CDI c in Model.CDIs)
                    {
                        <Text>{x: new Date(@c.Date.Year, (@c.Date.Month - 1), @c.Date.Day) , y: (@c.Percentage.ToString("0.00").Replace(',', '.')) },</Text>
                    }
                ],
            },
            {
                type: "line",
                name: "Cotação",
                showInLegend: true,
                dataPoints: [
                    @foreach (UNACapital.Models.Cotation co in Model.Cotations)
                    {
                        <Text>{x: new Date(@co.Date.Year, (@co.Date.Month - 1), @co.Date.Day) , y: (@co.Percentage.ToString("0.00").Replace(',', '.'))},</Text>
                    }
                ],

                //You can add dynamic data from the controller as shown below. Check the controller and uncomment the line which generates dataPoints.
                //dataPoints: @Html.Raw(ViewBag.DataPoints),
            }
            ]
        });
        chart.render();
    });
</script>

<br />
<br />

<div class="col-lg-12">
    <div class="col-lg-6">
        <h2>Tabela CDI</h2>

        <table class="table">
            <thead>
                <tr>
                    <td>Data</td>
                    <td>Valor</td>
                    <td>Porcentagem</td>
                </tr>
            </thead>

            <tbody>

                @foreach (UNACapital.Models.CDI cdi in Model.CDIs)
                {
                    <tr>
                        <td>@cdi.Date.ToString("dd/MM/yyyy")</td>
                        <td>@cdi.Number.ToString()</td>
                        <td>@cdi.Percentage.ToString()%</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

    <div class="col-lg-6">
        <h2>Tabela Cotação</h2>

        <table class="table">
            <thead>
                <tr>
                    <td>Data</td>
                    <td>Valor</td>
                    <td>Porcentagem</td>
                </tr>
            </thead>

            <tbody>

                @foreach (UNACapital.Models.Cotation cot in Model.Cotations)
                {
                    <tr>
                        <td>@cot.Date.ToString("dd/MM/yyyy")</td>
                        <td>R$ @cot.Number.ToString()</td>
                        <td>@cot.Percentage.ToString()%</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>


